langchain>=0.2.14
langchain-community>=0.2.10
langchain-openai>=0.1.22
langgraph>=0.2.5
chromadb>=0.5.5
datasets>=2.20.0
pydantic>=2.8.2
python-dotenv>=1.0.1
huggingface_hub>=0.24.5
sentence-transformers>=3.0.1
langchain-huggingface>=0.0.3
rank-bm25>=0.2.2
cohere
streamlit>=1.35.0
requests>=2.32.0
